extends layout

block content
    div(class='container center-div')
        h1(class='text-center')
            img(src='/icons/coffee.svg' width='50' height='50' class='rotate')
            = 'Register'
        
        form(class='form-horizontal' method='POST', action='/register' role='form')
            div(class='form-group form-row align-items-center')
                div(class='col-sm-2')
                div(class='col-sm-2 pull-left text-right')
                    label(class='control-label text-right' for='name') Name:
                div(class='col-sm-4')
                    input#name(class='form-control custom-form-control' type='text', placeholder='name', name='name' value=undefined===name ? '' : name)
                div(class='col-sm-4 text-left')
                    if errors
                        for error in errors
                            if error.param == 'name'
                                    span(id='nameError')= error.msg
            
            div(class='form-group form-row align-items-center')
                div(class='col-sm-2')
                div(class='col-sm-2 pull-left text-right')
                    label(for='email' class='control-label text-right') Email: 
                div(class='col-sm-4')
                    input#email(class='form-control custom-form-control' type='text', placeholder='email', name='email' value=undefined===email ? '' : email)
                div(class='col-sm-4 text-left')
                    if errors
                        for error in errors
                            if error.param == 'email'
                                    span(id='emailError')= error.msg
            
            div(class='form-group form-row align-items-center')
                div(class='col-sm-2')
                div(class='col-sm-2 pull-left text-right')
                    label(for='department' class='control-label text-right') Department: 
                div(class='col-sm-4')
                    select#department(class='form-control custom-form-control' name='department')
                        option(value='choose the department you belong to')= "choose the department you belong to"
                        option(value='Authorised Corporate Service Providers (ACSPs)' selected= department == 'Authorised Corporate Service Providers (ACSPs)')= "Authorised Corporate Service Providers (ACSPs)"
                        option(value='Belfast Office' selected= deparment == 'Belfast Office')= "Belfast Office"
                        option(value='CDD Senior Managers' selected= department == 'CDD Senior Managers')= "CDD Senior Managers"
                        option(value='CEO & Directors' selected= department == 'CEO & Directors')= "CEO & Directors"
                        option(value='Change Management' selected= department == 'Change Management')= "Change Management"
                        option(value='Chief Executive Office' selected= department == 'Chief Executive Office')= "Chief Executive Office"
                        option(value='Commercial' selected= department == 'Commercial')= "Commercial"
                        option(value='Community Interest Companies (CIC)' selected= department == 'Community Interest Companies (CIC)')= "Community Interest Companies (CIC)"
                        option(value='Compliance & Enforcement' selected= department == 'Compliance & Enforcement')= "Compliance & Enforcement"
                        option(value='Compliance & Enforcement Service' selected= department == 'Compliance & Enforcement Service')= "Compliance & Enforcement Service"
                        option(value='Core Finance' selected= department == 'Core Finance')= "Core Finance"
                        option(value='Create & Close a Company' selected= department == 'Create & Close a Company')= "Create & Close a Company"
                        option(value='Customer Delivery Support' selected= department == 'Customer Delivery Support')= "Customer Delivery Support"
                        option(value='Customer Service & Enablers' selected= department == 'Customer Service & Enablers')= "Customer Service & Enablers"
                        option(value='Customer Services' selected= department == 'Customer Services')= "Customer Services"
                        option(value='Cyber Security' selected= department == 'Cyber Security')= "Cyber Security"
                        option(value='Data, Analytics and Research' selected= department == 'Data, Analytics and Research')= "Data, Analytics and Research"
                        option(value='Economics' selected= department == 'Economics')= "Economics"
                        option(value='Edinburgh Office' selected= department == 'Edinburgh Office')= "Edinburgh Office"
                        option(value='Estates' selected= department == 'Estates')= "Estates"
                        option(value='External Communications' selected= department == 'External Communications')= "External Communications"
                        option(value='Filing Service' selected= department == 'Filing Service')= "Filing Service"
                        option(value='Get Company Information Service' selected= department == 'Get Company Information Service')= "Get Company Information Service"
                        option(value='Human Resources' selected= department == 'Human Resources')= "Human Resources"
                        option(value='Implementation Leads' selected= department == 'Implementation Leads')= "Implementation Leads"
                        option(value='Innovation & Outreach' selected= department == 'Innovation & Outreach')= "Innovation & Outreach"
                        option(value='Integrity Compliance & Enforcement' selected= department == 'Integrity Compliance & Enforcement')= "Integrity Compliance & Enforcement"
                        option(value='Intelligence' selected= department == 'Intelligence')= "Intelligence"
                        option(value='Intelligence & Enforcement' selected= department == 'Intelligence & Enforcement')= "Intelligence & Enforcement"
                        option(value='Internal Communications' selected= department == 'Internal Communications')= "Internal Communications"
                        option(value='IT Services' selected= department == 'IT Services')= "IT Services"
                        option(value='Knowledge & Information Management' selected= department == 'Knowledge & Information Management')= "Knowledge & Information Management"
                        option(value='Legal' selected= department == 'Legal')= "Legal"
                        option(value='Maintain a Company' selected= department == 'Maintain a Company')= "Maintain a Company"
                        option(value='Management Accounts' selected= department == 'Management Accounts')= "Management Accounts"
                        option(value='Organisational Development & Design' selected= department == 'Organisational Development & Design')= "Organisational Development & Design"
                        option(value='Policy' selected= department == 'Policy')= "Policy"
                        option(value='Product Delivery/Design' selected= department == 'Product Delivery/Design')= "Product Delivery/Design"
                        option(value='Project Management Office/Portfolio' selected= department == 'Project Management Office/Portfolio')= "Project Management Office/Portfolio"
                        option(value='Register of Overseas Entities (ROE)' selected= department == 'Register of Overseas Entities (ROE)')= "Register of Overseas Entities (ROE)"
                        option(value='Secure Unit' selected= department == 'Secure Unit')= "Secure Unit" 
                        option(value='Software Developer/Engineer' selected= department == 'Software Developer/Engineer')= "Software Developer/Engineer"
                        option(value='Strategic Finance' selected= department == 'Strategic Finance')= "Strategic Finance"
                        option(value='Strategy & Planning' selected= department == 'Strategy & Planning')= "Strategy & Planning"
                        
                div(class='col-sm-4 text-left')
                    if errors
                        for error in errors
                            if error.param == 'department'
                                    span(id='departmentError')= error.msg

            div(class='form-group form-row align-items-center')
                div(class='col-sm-2')
                div(class='col-sm-8')
                    div(class='alert alert-warning', role='alert')
                        span
                            | Your data is used in accordance with Companies House GDPR standards.
                            | Please tick the checkbox below to acknowledge this notice and submit your consent.
            div(class='form-group form-row align-items-center')
                div(class='col-sm-2')
                div(class='col-sm-2 pull-left text-right')
                    i(style='verticle-align: middle;' class="fas fa-question-circle text-center" data-toggle='popover' data-content='By submitting your data, you consent for \
                            your data to be used purely for the purposes of Curious Coffee. \
                            The name and email address provided will only be used to contact the \
                            matched participants, and the department is used to match you with other \
                            participants. None of this data is shared with anyone else.' hspace='20') &nbsp;&nbsp;
                    label(style='verticle-align: middle;' for='consent' class='control-label text-right') Consent:
                div(class='checkbox')
                    input#consent(type='checkbox' class='custom-checkbox' name='consent')
                div(class='col-sm-4 text-center')
                    if errors
                        for error in errors
                            if error.param == 'consent'
                                    span(id='consentError')= error.msg
            
            div(class='form-group form-row align-items-center')
                div(class='col-sm-4')
                div(class='col-sm-2')
                    button(class='btn btn-primary custom-button' type='submit') Register

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/error-register.js')
    script(src='/javascripts/popover.js')

        
